<div class="merchandises delete">
<h2>Delete merch</h2>


<%= form_for(@merchandise, :method => 'delete') do |f| %>

  <p>Are you sure you want to permanently delete this merchandise?</p>

<div class="container"><table class="table table-bordered table-hover table-stripped">
  <thead>
    <tr>
        <th>Item Name</th>
        <th>Purchase Price</th>
        <th>Quantity On Hand</th>
        <th>Sell Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @merchandise.item_name %></td>
      <td><%= @merchandise.purchase_price %></td>
      <td><%= @merchandise.quantity_on_hand %></td>
      <td><%= @merchandise.sell_price %></td>
    </tr>
  </tbody>
  </table></div>

  <div class="form-buttons">
    <%= f.submit("Delete Merchandise") %>
  </div>

<% end %>
<br/>
</div>

<%= link_to('Back', merchandises_path, :class => 'back-link') %>