<p>
  <strong>UIN:</strong>
  <%= @person.uin %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @person.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Person Type:</strong>
  <%= @person.person_type %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', alumnis_path %>
