<%= form_with(model: [@event, attendancerecord], local: true) do |form| %>
  <% if attendancerecord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendancerecord.errors.count, "error") %> prohibited this attendance_record from being saved:</h2>

      <ul>
        <% attendancerecord.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="dropdown">
    <%= form.label :attendancetype, "Attendance Type" %>
    <%= form.select :attendancetype, [[],'Present','Late, Excused','Late, Unexcused','Absent, Excused','Absent, Unexcused'] %>
  </div>
  <div class="field">
    <%= form.label :note, "Excuse Note" %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
