<%= form_with(model: attendancerecord) do |form| %>

  <% if attendancerecord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendancerecord.errors.count, "error") %> prohibited this attendancerecord from being saved:</h2>

      <ul>
        <% attendancerecord.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.collection_select :event_id, Event.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :player_id %>
    <%= form.collection_select :player_id, Player.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="dropdown">
    <%= form.label :attendancetype, "Attendance Type" %>
    <%= form.select :attendancetype, [[],'Present','Late, Excused','Late, Unexcused','Absent, Excused','Absent, Unexcused'] %>
  </div>

  <div class="field">
    <%= form.label :note, "Excuse Note" %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

