<div class="event delete">
<h2>Delete Attendancerecord</h2>


<%= form_for(@attendancerecord, :method => 'delete') do |f| %>

  <p>Are you sure you want to permanently delete this Attendancerecord?</p>

<table>
  <thead>
    <tr>
        <th>Type</th>
        <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @attendancerecord.attendancetype %></td>
      <td><%= @attendancerecord.note%></td>

    </tr>
  </tbody>
  </table>

  <div class="form-buttons">
    <%= f.submit("Delete Event") %>
  </div>

<% end %>
<br/>
</div>

<%= link_to('Back', events_path, :class => 'back-link') %>