<p id="notice"><%= notice %></p>


<u1>
 <li class="navbarLink" id="link1"><%= link_to('Home', root_path) %></li>
 <li class="navbarLink" id="link1"><%= link_to('Players', players_path) %></li>
 <li class="navbarLink" id="link2"><%= link_to('Alumnis', alumnis_path	) %></li>
 <li class="navbarLink" id="link2"><%= link_to('Recruits', recruits_path	) %></li>
 <li class="navbarLink" id="link1"><%= link_to('Mechandise',merchandises_path)%></li>
<li class="navbarLink" id="link1"><%= link_to('Transactions',transactions_path)%></li>
<li class="navbarLink" id="link1"><%= link_to 'Events',events_path %></li>
 <li class="navbarLink" id="link" style="float: right"><%= link_to('Sign Out', destroy_admin_session_path	) %></li>
</u1>

<h1><%= @event.name %></h1>
<h1>Attendance Records</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Attendance</th>
      <th>Excuse Note</th>
    </tr>
  </thead>

  <tbody>

    <% @attendancerecords.each do |attendancerecord| %>
      <% player = attendancerecord.player %>
      <tr>

        <td><%= player.name %></td>
        <td><%= attendancerecord.attendancetype %></td>
        <td><%= attendancerecord.note %></td>

        <td><%= link_to 'Show Event', [@event]%></td>
        <td><%= link_to 'Edit', edit_event_attendancerecord_path(@event, attendancerecord) %></td>
        <td><%= link_to 'Delete', delete_event_attendancerecord_path(@event, attendancerecord) %></td>
      </tr>
    <% end %>

  </tbody>

</table>



<br>
<br>
<%= link_to 'New Attendance Record', new_event_attendancerecord_path %>
<br>
<%= link_to 'Back', events_path %>
