<p id="notice"><%= notice %></p>

<h1>Attendancerecord</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Event Id</th>
      <th>Attendance Type</th>
      <th>Reason</th>
      <th>ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendancerecords.each do |attendancerecord| %>
        <tr>
            <% event = attendancerecord.event %>
            <% player = attendancerecord.player %>
            <td><%= player.name%></td>
            <td><%= event.name %></td>
            <td><%= attendancerecord.attendancetype %></td>
            <td><%= attendancerecord.note %></td>
            <td><%= attendancerecord.id %></td>
            <td><%= link_to 'Show', @attendancerecord %></td>
            <td><%= link_to 'Edit', edit_attendancerecord_path(attendancerecord) %></td>
            <td><%= link_to 'Delete', delete_attendancerecord_path(attendancerecord)%></td>
        </tr>


    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Attendancerecord', new_attendancerecord_path %>
<%= link_to 'Back', events_path %>
<button onClick="getCurrentEventId()" >Test</button>

<script>
  function getCurrentEventId(){

    var currentEventId   
    var url = window.location.href

    var lastSegment = url.split(".").pop();

    console.log("The URL of this page is: " + window.location.href);
    console.log("The event id: " + lastSegment);

     
    return lastSegment
  }

  window.onload = getCurrentEventId

</script>
