<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @attendancerecord.note %>
</p>

<p>
  <strong>Attendancetype:</strong>
  <%= @attendancerecord.attendancetype %>
</p>


<%= link_to 'Edit', edit_attendancerecords_path(@attendancerecord) %> |
<%= link_to 'Back', attendancerecords_path %>
