<nav class="navbar navCustom navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <li class="navbarLink" id="link1"><%= link_to('Home', root_path, :class => "nav-link") %></li>
      </li>
      <li class="nav-item">
        <li class="navbarLink" id="link1"><%= link_to('Players', players_path, :class => "nav-link")%></li>
      </li>
      <li class="nav-item">
        <li class="navbarLink" id="link2"><%= link_to('Alumnis', alumnis_path, :class => "nav-link") %></li>
      </li>
      <li class="nav-item">
        <li class="navbarLink" id="link2"><%= link_to('Recruits', recruits_path, :class => "nav-link") %></li>
      </li>
      <li class="nav-item">
         <li class="navbarLink" id="link1"><%= link_to('Merchandise', merchandises_path, :class => "nav-link")%></li> 
      </li>
      <li class="nav-item">
         <li class="navbarLink" id="link1"><%= link_to('Transactions', transactions_path, :class => "nav-link")%></li>
      </li>
      <li class="nav-item">
         <b><li class="navbarLink" id="link1"><%= link_to('Events', events_path, :class => "nav-link")%></li></b>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <%= link_to('Sign Out', destroy_admin_session_path	) %>
    </div>
  </div>
</nav>
<p id="notice"><%= notice %></p>

<center>
<h3 class="display-3">Events</h3>

<div class="container"><table class="table table-bordered table-hover table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Info</th>
      <th>Date</th>
      <th>Time</th>
      <th>Type</th>
      <th>Address</th>
      <th>Season</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.info %></td>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td><%= event.event_type %></td>
        <td><%= event.address %></td>
        <td><%= event.season %></td>
        <td><%= event.score %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Attendance Records', event_attendancerecords_path(event) %></td>
        <td><%= link_to 'Delete', delete_event_path(event)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</center>
<br>
<%= link_to 'New Event', new_event_path, :class => "btn btn-primary"  %>
<br>
