<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uin %>
    <%= form.number_field :uin %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :person_type %>
    <%= form.select :person_type, options_for_select(["Player", "Alumni", "Recruit"]), value: nil %>
  </div>

  <div class="field">
    <%= form.label :dues %>
    <%= form.number_field :dues %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(["Active", "InActive"]), value: nil %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
