<nav class="navbar navCustom navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <li class="navbarLink" id="link1"><%= link_to('Home', root_path, :class => "nav-link") %></li>
      </li>
      <li class="nav-item">
        <b><li class="navbarLink" id="link1"><%= link_to('Players', players_path, :class => "nav-link")%></li></b>
      </li>
      <li class="nav-item">
        <li class="navbarLink" id="link2"><%= link_to('Alumnis', alumnis_path, :class => "nav-link") %></li>
      </li>
      <li class="nav-item">
        <li class="navbarLink" id="link2"><%= link_to('Recruits', recruits_path, :class => "nav-link") %></li>
      </li>
      <li class="nav-item">
         <li class="navbarLink" id="link1"><%= link_to('Merchandise', merchandises_path, :class => "nav-link")%></li> 
      </li>
      <li class="nav-item">
         <li class="navbarLink" id="link1"><%= link_to('Transactions', transactions_path, :class => "nav-link")%></li>
      </li>
      <li class="nav-item">
         <li class="navbarLink" id="link1"><%= link_to('Events', events_path, :class => "nav-link")%></li>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <%= link_to('Sign Out', destroy_admin_session_path	) %>
    </div>
  </div>
</nav>
<p id="notice"><%= notice %></p>

<center>
<h3 class="display-3">Players</h3>
<div class="container"><table id="player_table" class="table table-bordered table-hover table-stripped">
  <thead>
    <tr>
      <th>UIN</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Person Type</th>
      <th>Dues</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.uin %></td>
        <td><%= player.name %></td>
        <td><%= player.email %></td>
        <td><%= player.phone_number %></td>
        <td><%= player.address %></td>
        <td><%= player.person_type %></td>
        <td><%= player.dues %></td>
        <td><%= player.status %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Delete', delete_player_path(player) %></td>
      </tr>
    <% end %>
  </tbody>
</table></div>
</div>
</center>
<button onClick="sendEmail();" class="btn btn-primary">Send Email</button>
<%= link_to 'New Player', new_player_path, :class => "btn btn-primary" %>

<script>

  function sendEmail(){
    
    var emails = []
    var table = document.getElementById("player_table")
    var cells = table.childNodes;

    cells[3].childNodes.forEach(cell => {
      if(cell.nodeType == 1){
        console.log(cell.childNodes[5].innerText)
        emails.push(cell.childNodes[5].innerText)
      }
    })
    
    window.location.assign("mailto:"+ emails + ", ")
  }

</script>
