
<u1 id="Navbar">
 <li class="navbarLink" id="link1"><%= link_to('Home', root_path) %></li>
 <li class="navbarLink" id="link1"><%= link_to('Players', players_path) %></li>
 <li class="navbarLink" id="link2"><%= link_to('Alumnis', alumnis_path	) %></li>
 <li class="navbarLink" id="link2"><%= link_to('Recruits', recruits_path	) %></li>
 <li class="navbarLink" id="link1"><%= link_to('Mechandise',merchandises_path)%></li>
 <li class="navbarLink" id="link1"><%= link_to('Transactions',transactions_path)%></li>
 <li class="navbarLink" id="link1"><%= link_to('Events',events_path)%></li>
 <li class="navbarLink" id="link3" style="float: right"><%= link_to('Sign Out', destroy_admin_session_path	) %></li>
</u1>

<center>
  <br>
  <h1>TAMU Women's Rugby Team</h1>
  <img src="../../assets/TAMU_WhiteTopLogo.png" alt="Rugby Logo" width="600" height="600">
</center>
