<nav class="navbar navCustom navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <b><li class="navbarLink" id="link1"><%= link_to('Home', root_path, :class => "nav-link") %></li></b>
      </li>
      <li class="nav-item">
        <li class="navbarLink" id="link1"><%= link_to('Players', players_path, :class => "nav-link")%></li>
      </li>
      <li class="nav-item">
        <li class="navbarLink" id="link2"><%= link_to('Alumnis', alumnis_path, :class => "nav-link") %></li>
      </li>
      <li class="nav-item">
        <li class="navbarLink" id="link2"><%= link_to('Recruits', recruits_path, :class => "nav-link") %></li>
      </li>
      <li class="nav-item">
         <li class="navbarLink" id="link1"><%= link_to('Merchandise', merchandises_path, :class => "nav-link")%></li> 
      </li>
      <li class="nav-item">
         <li class="navbarLink" id="link1"><%= link_to('Transactions', transactions_path, :class => "nav-link")%></li>
      </li>
      <li class="nav-item">
         <li class="navbarLink" id="link1"><%= link_to('Events', events_path, :class => "nav-link")%></li>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <%= link_to('Sign Out', destroy_admin_session_path	) %>
    </div>
  </div>
</nav>

<center>
  <h3 class="display-3">Dashboard</h3>
  <img src="https://static.wixstatic.com/media/8725d4_00396964f7dd45b6a62f14bb72efcb43~mv2.jpg/v1/fill/w_1295,h_765,al_c,q_85,usm_0.66_1.00_0.01/8725d4_00396964f7dd45b6a62f14bb72efcb43~mv2.webp" class="img-fluid rounded shadow-lg" alt="2021 Season">
</center>
