<p id="notice"><%= notice %></p>

<h3>Recruit Info</h3>

<p>
  <strong>Contact type:</strong>
  <%= @recruit.contact_type %>
</p>

<p>
  <strong>Interest level:</strong>
  <%= @recruit.interest_level %>
</p>

<p>
  <strong>Times contacted:</strong>
  <%= @recruit.times_contacted %>
</p>

<p>
  <strong>Date contacted:</strong>
  <%= @recruit.date_contacted %>
</p>

<h3>Recruit Encounters</h3>
<table>
<tr> 
    <th>Name</th>  
    <th>Notes</th>   
</tr>

<% @recruit.encounters.each do |encounter| %>
<tr>
    <td><%= encounter.recruit.name %></td>
    <td><%= encounter.notes %></td>
</tr>
<% end %>
</table>

<%= link_to 'Back', recruits_path %>
